warhorse:
  general:
    op_number: "0000-001"
    user_tag: 'user'  
    ttl: '2022-01-30'
    ntp_timezone: 'America/New_York' # Timezone
  dns:
    provider: "digitalocean" 
    op_tld: 'example.com'
    op_domain_name: '0000-001.example.com'
  vm:
    - name: "teamserver"
      provider: "digitalocean"
      # resource_name: "rmay-0000-01-teamserver"
      # hostname: "0000-01-teamserver" optional
      # dns_hostname: "teamserver" optional
      # size: "s-2vcpu-4gb"
      # region: "nyc1"
      # img: "ubuntu-20-04-x64"
      http_proxy: "traefik"
      traefik:
        acme_email: noemail@gmail.com
        dashboard: true
        # dir: "/opt/docker/traefik" optional
      cdn:
        - name: "azure"
          provider: "azure"
          enable_auth_header: true
          hostname: "uniquename0001"
      firewall: 
        enabled: true
      cobaltstrike:
        enabled: true
        auth_header_name: "cdnauth"
        auth_header_value: "{{ '0000-001' | b64encode }}"
        # dir: "/opt/docker/cobaltstrike" optional
        dns_over_https: true
        socks_ports: 
        - 9201
        - 9202
        - 9203
        profile: azure.profile.j2 # Put this file in the files folder
        cdn: 
        - azure
      backup: 
        enabled: false
        archive_zip: false
  terraform:
    state_bucket_enable: true
    state_bucket_name: "s3bucketname"
    state_bucket_key: "0000-001/terraform.tfstate"
    state_bucket_region: "us-east-1"
    state_bucket_endpoint: "https://nyc3.digitaloceanspaces.com"
  users:
    - username: bob
      name: bob
      authorized_keys:
      - "{{ lookup('file', '/Users/bob/.ssh/id_rsa.pub') }}"
      shell: '/usr/bin/zsh'