# all:
#   vars:
#     digitalocean_token: ""
#     digitalocean_state_bucket_access_key: ""
#     digitalocean_state_bucket_secret_key: ""
#     tailscale_auth_key: ""

#     cs_key: ""
#     cs_password: ""
    