{% for vm in warhorse.vm %}
{% if vm.provider == "digitalocean" %}
variable "do_token" {
  description = "Digital Ocean API Key"
  type        = string
  sensitive   = true
}
{% endif %}
{% if vm.provider == "linode" %}
variable "li_token" {
  description = "Linode API Key"
  type        = string
  sensitive   = true
}
{% endif %}
{% endfor %}