{% for vm in warhorse.vm %}
{% for cdn in vm.cdn %}
{% if vm.provider == 'azure' or cdn.provider == 'azure' and loop.index == 1 %}
resource "azurerm_resource_group" "azure_resource_{{ op_number }}" {
  name     = "{{ op_number }}"
  location = "{{ vm.region|default('East US') }}"
}
{% endif %}
{% endfor %}
{% endfor %}