terraform {
  required_version = ">= 0.12.0"
  required_providers {
{% if warhorse|regex_search("'provider': 'digitalocean'", multiline=True, ignorecase=True) %}
    digitalocean = {
      source = "digitalocean/digitalocean"
    }
{% endif %}
{% if warhorse|regex_search("'provider': 'aws'", multiline=True, ignorecase=True) %}
    aws = {
      source  = "hashicorp/aws"
    }
{% endif %}
    local = ">= 1.2"
  }
}
{% if warhorse|regex_search("'provider': 'digitalocean'", multiline=True, ignorecase=True) %}
provider "digitalocean" {
  token = var.do_token
}
{% endif %}
{% if warhorse|regex_search("'provider': 'aws'", multiline=True, ignorecase=True) %}
provider "aws" {
{% if aws_access_key is defined and aws_secret_key is defined %}
  access_key = {{ aws_access_key }}
  secret_key = {{ aws_secret_key }}
{% endif %}
  region = "us-east-1"
}
{% endif %}
{% if warhorse|regex_search("'provider': 'azure'", multiline=True, ignorecase=True) %}
provider "azurerm" {
  features {}
{% if azure_subId is defined %}
  subscription_id = "{{ azure_subId }}"
{% endif %}
}
{% endif %}
{% if warhorse.terraform.state_bucket_enable is true %}
terraform {
  backend "s3" {
    skip_credentials_validation = true
    skip_metadata_api_check     = true
  }
}
{% endif %}