{% if warhorse | regex_search("(?i).+('provider':\s'digitalocean')", multiline=True, ignorecase=True) %}
variable "do_token" {
  description = "Digital Ocean API Key"
  type        = string
  sensitive   = true
}
{% endif %}

{% if warhorse | regex_search("(?i).+('provider':\s'linode')", multiline=True, ignorecase=True) %}
variable "linode_token" {
  description = "Linode API Key"
  type        = string
  sensitive   = true
}
{% endif %}