#cloud-config
# first create a user with
# ssh key, permission, etc
users:
  - name: ansible
    ssh-authorized-keys:
      - "{{ lookup('file', './OP/{{ warhorse.general.op_number }}/keys/id_rsa_ansible_{{ warhorse.general.op_number }}.pub') }}"
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash

# then upgrade base image
package_update: true
package_upgrade: false
package_reboot_if_required: false