{% for vm in warhorse.vm %}
{% if vm.provider == "digitalocean" and loop.first %}
resource "digitalocean_tag" "op_number" {
  name = "{{ warhorse.general.op_number }}"
}

resource "digitalocean_tag" "ttl" {
  name = "{{ warhorse.general.ttl }}"
}

resource "digitalocean_tag" "warhorse" {
  name = "warhorse"
}

{% if warhorse.general.user_tag is defined %}
resource "digitalocean_tag" "user_tag" {
  name = "{{ warhorse.general.user_tag }}"
}
{% endif %}

{% if warhorse.general.snapshots is defined and true %}
data "digitalocean_image" "warhorse-snapshot" {
  name = "{{ warhorse.general.snapshot_name|default(vm_default_img_snapshot_name) }}"
}
{% endif %}

resource "digitalocean_ssh_key" "ansible_ssh_key" {
  name       = "Warhorse SSH Key {{ warhorse.general.op_number }}"
  public_key = "{{ lookup('file', './OP/{{ warhorse.general.op_number }}/keys/id_rsa_ansible_{{ warhorse.general.op_number }}.pub') }}"
}
{% endif %}

{% if vm.provider == "digitalocean" %}
resource "digitalocean_droplet" "{{ vm.resource_name|default(warhorse.general.user_tag + '-' + warhorse.general.op_number + '-' + vm.name) }}" {
{% if warhorse.general.snapshots is defined and true %}
  image = data.digitalocean_image.warhorse-snapshot.image
{% else %}
  image = "{{ vm.img|default(vm_default_do_img) }}"
{% endif %}
  name = "{{ vm.resource_name|default(warhorse.general.user_tag + '-' + warhorse.general.op_number + '-' + vm.name) }}"
  region = "{{ vm.region|default(vm_default_do_region) }}"
  size = "{{ vm.size|default(vm_default_do_size) }}"
  tags = [digitalocean_tag.warhorse.id, digitalocean_tag.op_number.id, digitalocean_tag.ttl.id{% if user_tag is defined %}, digitalocean_tag.user_tag.id{% endif %}]
  user_data = "${file("cloud-init-do.yaml")}"
  ssh_keys = [
    digitalocean_ssh_key.ansible_ssh_key.fingerprint
  ]
}
{% endif %}
{% if vm.firewall is defined and vm.provider == "digitalocean" %}
resource "digitalocean_firewall" "{{ vm.resource_name|default(warhorse.general.user_tag + '-' + warhorse.general.op_number + '-' + vm.name + '-firewall') }}" {
  name = "{{ vm.resource_name|default(warhorse.general.user_tag + '-' + warhorse.general.op_number + '-' + vm.name + '-firewall') }}"

  droplet_ids = [digitalocean_droplet.{{ vm.resource_name|default(warhorse.general.user_tag + '-' + warhorse.general.op_number + '-' + vm.name) }}.id]
  inbound_rule {
    protocol         = "tcp"
    port_range       = "22"
    source_addresses = ["0.0.0.0/0"]
  }
  outbound_rule {
    protocol         = "udp"
    port_range       = "1-65535"
    destination_addresses = ["0.0.0.0/0"]
  }
  outbound_rule {
    protocol         = "tcp"
    port_range       = "1-65535"
    destination_addresses = ["0.0.0.0/0"]
  }
{% if vm.http_proxy is defined %}
  inbound_rule {
    protocol         = "tcp"
    port_range       = "80"
    source_addresses = ["0.0.0.0/0"]
  }
  inbound_rule {
    protocol         = "tcp"
    port_range       = "443"
    source_addresses = ["0.0.0.0/0"]
  }
{% endif %}
{% if vm.tailscale is defined %}
  inbound_rule {
    protocol         = "udp"
    port_range       = "41641"
    source_addresses = ["0.0.0.0/0"]
  }
  inbound_rule {
    protocol         = "udp"
    port_range       = "3478"
    source_addresses = ["0.0.0.0/0"]
  }
{% endif %}
{% if vm.cobaltstrike.dns_over_https is true %}
  inbound_rule {
    protocol         = "udp"
    port_range       = "53"
    source_addresses = ["0.0.0.0/0"]
  }
{% endif %}
{% endif %}
}
{% endfor %}
