{% if warhorse.terraform.digitalocean_project is defined %}

data "digitalocean_project" "{{ warhorse.terraform.digitalocean_project }}" {
  name = "{{ warhorse.terraform.digitalocean_project }}"
}

resource "digitalocean_project_resources" "{{ warhorse.terraform.digitalocean_project }}" {
  project = data.digitalocean_project.{{ warhorse.terraform.digitalocean_project }}.id
  resources = [
{% for vm in warhorse.vm %}
{% if vm.provider == "digitalocean" %}
    digitalocean_droplet.{{ vm.resource_name|default(warhorse.general.user_tag + '-' + warhorse.general.op_number + '-' + vm.name) }}.urn,
{% endif %}
{% endfor %}
{% if warhorse.dns.provider == "digitalocean" %}
    digitalocean_domain.domain.urn
{% endif %}
  ]
}
{% endif %}