{% for vm in warhorse.vm %}
{% if loop.first %}
all:
  children:
    warhorse:
      children:
        {{ vm.provider }}:
          hosts:
{% endif %}
{% if vm.backup is defined and vm.backup %}
            {{ vm.name }}:
              backup_folders: '{{ warhorse.backup.backup_folders|default( '/opt/docker /home' )}}'
              restic_create_cron: 'true'
              backup_bucket: "{{ warhorse.backup.backup_bucket_name }}"
              backup_endpoint: "{{ warhorse.backup.backup_bucket_endpoint }}"
              backup_region: "{{ warhorse.backup.backup_bucket_region }}"
              restic_repos:
                remote:
                  location: 's3:{{ warhorse.backup.backup_bucket_endpoint | regex_replace('https://') }}/{{ warhorse.backup.backup_bucket_name }}/{{ warhorse.general.op_number }}/{{ vm.name }}'
                  password: '{{ warhorse.backup.password|default(warhorse.general.vault_key)}}'
                  init: true
                  aws_access_key: '{% raw %}{{ backup_bucket_access_key }}{% endraw %}'
                  aws_secret_access_key: '{% raw %}{{ backup_bucket_secret_key }}{% endraw %}'
                  aws_default_region: '{{ warhorse.backup.backup_bucket_region }}'
              restic_backups:
                data:
                  name: data
                  repo: remote
                  src: '{% raw %}"{{ backup_folders }}"{% endraw %}'
                  keep_last: '48'
                  scheduled: true
                  schedule_minute: '0'
                  schedule_hour: '*'
                  schedule_weekday: '*'
                  schedule_month: '*'
{% endif %}
{% endfor %}