---
{% for vm in warhorse.vm %}
{% if vm.tailscale is defined and vm.tailscale.enabled %}
- name: Cleanup Tailscale
  gather_facts: True
  hosts: {{ vm.name }}
  connection: ssh
  become: True
  environment: 
    ANSIBLE_VAULT_PASSWORD: "{% raw %}{{ warhorse.general.vault_key }}{% endraw %}"
  vars: 
    deploy: false
  vars_files:
    - ../../config/{{ warhorse.general.op_number }}.yml
  roles:
    - { role: warhorse.tailscale }
{% endif %}
{% endfor %}

{% for vm in warhorse.vm %}
{% if vm.backup is defined and vm.backup.enabled and vm.backup.archive_zip %}
- name: Backup Archive
  gather_facts: True
  hosts: {{ vm.name }}
  connection: ssh
  become: True
  environment: 
    ANSIBLE_VAULT_PASSWORD: "{% raw %}{{ warhorse.general.vault_key }}{% endraw %}"
  vars: 
    deploy: false
  vars_files:
    - ../../config/{{ warhorse.general.op_number }}.yml
  roles:
    - { role: warhorse.backup_archive }
{% endif %}
{% endfor %}

- name: Destroy Terraform
  hosts: localhost
  gather_facts: false
  connection: local
  environment: 
    ANSIBLE_VAULT_PASSWORD: "{% raw %}{{ warhorse.general.vault_key }}{% endraw %}"
  vars: 
    deploy: false
  vars_files:
  - ../../config/{{ warhorse.general.op_number }}.yml
  roles:
    - { role: warhorse.terraform }

- name: Destroy SSH Key
  hosts: localhost
  gather_facts: false
  connection: local
  vars: 
    deploy: false
  vars_files:
  - ../../config/{{ warhorse.general.op_number }}.yml
  tasks:
  - name: remove keys directory 
    ansible.builtin.file:
      path: "{% raw %}{{ item }}{% endraw %}"
      state: absent
    with_items:
      - "keys/{% raw %}id_rsa_ansible_{{ warhorse.general.op_number }}{% endraw %}"
      - "keys/{% raw %}id_rsa_ansible_{{ warhorse.general.op_number }}.pub{% endraw %}"

- name: Destroy Terraform Files and Inventory files
  hosts: localhost
  gather_facts: false
  connection: local
  vars: 
    deploy: false
  vars_files:
  - ../../config/{{ warhorse.general.op_number }}.yml
  tasks:
  - name: remove terrafrom & inventory directory 
    ansible.builtin.file:
      path: "{% raw %}{{ item }}{% endraw %}"
      state: absent
    with_items:
      - "terraform"
      - "inventory"
