{% for vm in warhorse.vm %}
{% if loop.first %}
all:
  vars:
    dns:
{% endif %}
      - server:
        name: {{ vm.name }}
        entrys:
{% if warhorse.dns.op_domain_name is defined %}
{% if loop.first %}
        - entry: 
          resource_name: "tld"
          provider: "{{ warhorse.dns.provider }}"
          domain_name: "{{ warhorse.dns.op_domain_name|default(warhorse.general.op_number + '.' + warhorse.dns.op_tld) }}"
          tl_domain_name: "{{ warhorse.dns.op_tld }}"
{% endif %}
{% endif %}
        - entry: 
          resource_name: "{{ vm.name }}"
          provider: "{{ warhorse.dns.provider }}"
          domain_name: "{{ warhorse.dns.op_domain_name|default(warhorse.general.op_number + '.' + warhorse.dns.op_tld) }}"
          vm_provider: "{{ vm.provider }}"
          dns_type: "A"
          depends_on: "{{ vm.resource_name|default(warhorse.general.user_tag + '-' + warhorse.general.op_number + '-' + vm.name) }}"
          value: "{{ vm.resource_name|default(warhorse.general.user_tag + '-' + warhorse.general.op_number + '-' + vm.name) }}"
          hostnames:
            - "{{ vm.name }}"
{% if vm.cobaltstrike.enabled is true %}
            - "cs-{{ vm.name }}"
{% endif %}
{% if vm.nighthawk.enabled is true %}
            - "nh-{{ vm.name }}"
{% endif %}
{% if vm.mythic.enabled is true %}
            - "mythic-{{ vm.name }}"
{% endif %}
{% if vm.gophish.enabled is true %}
            - "{{ vm.gophish.site_hostname }}"
            - "{{ vm.gophish.admin_hostname }}"
{% endif %}
{% if vm.cobaltstrike.dns_over_https is true %}
            - "ns{{ loop.index }}"
        - entry:
          resource_name: "ns{{ loop.index }}"
          provider: "{{ warhorse.dns.provider }}"
          domain_name: "{{ warhorse.dns.op_domain_name|default(warhorse.general.op_number + '.' + warhorse.dns.op_tld) }}"
          vm_provider: "{{ vm.provider }}"
          dns_type: "NS"
          depends_on: "{{ vm.name }}_ns{{ loop.index }}"
          value: "ns{{ loop.index }}.{{ warhorse.dns.op_domain_name|default(warhorse.general.op_number + '.' + warhorse.dns.op_tld) }}."
          hostnames:
            - "dns{{ loop.index }}"
{% endif %}
{% endfor %}

