{% for vm in warhorse.vm|selectattr("evilginx2", "defined" ) %}
{% if loop.first %}
all:
  children:
    warhorse:
      children:
        {{ vm.provider }}:
          hosts:
{% endif %}
            {{ vm.name }}:
              evilginx2_docker_network: "{% raw %}{{ dockernet }}{% endraw %}"
              evilginx_domain: '{{ vm.evilginx2.evilginx_domain }}'
              redirect_domain: '{{ vm.evilginx2.redirect_domain }}'
              phishlets: 
{% for phishlets in vm.evilginx2.phishlets %}
               - '{{ phishlets }}'
{% endfor %}
              evilginx2_ports: []
{% if vm.evilginx2.config_file is defined and vm.evilginx2.phishlet_folder is defined %}
              evilginx2_phishlet_folder: "{{ lookup('env', 'PWD') }}/OP/{{ warhorse.general.op_number }}/files/{{ vm.evilginx2.phishlet_folder }}"
              evilginx2_config_location: "{{ lookup('env', 'PWD') }}/OP/{{ warhorse.general.op_number }}/files/{{ vm.evilginx2.config_file }}.yaml.j2"
{% else %}
              evilginx2_phishlet_folder: "{{ lookup('env', 'PWD') }}/OP/{{ warhorse.general.op_number }}/files/{{ vm.name }}/phishlets"
              evilginx2_config_location: "{{ lookup('env', 'PWD') }}/OP/{{ warhorse.general.op_number }}/files/{{ vm.name }}/evilginx.yaml.j2"
{% endif %}      
{% endfor %}