{% for vm in warhorse.vm %}
{% if loop.first %}
all:
  vars:
    firewall:
{% endif %}
      - server:
        name: {{ vm.name }}
        rules:
        - rule: 
          type: inbound
          protocol: "tcp"
          port_range: "22"
          source_addresses:
          - "0.0.0.0/0"
        - rule: 
          type: outbound
          protocol: "udp"
          port_range: "1-65535"
          destination_addresses:
          - "0.0.0.0/0"
        - rule: 
          type: outbound
          protocol: "tcp"
          port_range: "1-65535"
          destination_addresses:
          - "0.0.0.0/0"
{% if vm.http_proxy is defined %}
        - rule: 
          type: inbound
          protocol: "tcp"
          port_range: "80"
          source_addresses:
          - "0.0.0.0/0"
        - rule: 
          type: inbound
          protocol: "tcp"
          port_range: "443"
          source_addresses:
          - "0.0.0.0/0"
{% endif %}
{% if vm.tailscale.enabled is true %}
        - rule: 
          type: inbound
          protocol: "udp"
          port_range: "41641"
          source_addresses:
          - "0.0.0.0/0"
        - rule: 
          type: inbound
          protocol: "udp"
          port_range: "3478"
          source_addresses:
          - "0.0.0.0/0"
{% endif %}
{% endfor %}

