{% for vm in warhorse.vm|selectattr("tailscale", "defined" ) %}
{% if vm.tailscale.enabled %}
{% if loop.first %}
all:
  children:
    warhorse:
      children:
        {{ vm.provider }}:
          hosts:
{% endif %}
            {{ vm.name }}:
              # tailscale_args: ""
              tailnet_name: "{{ vm.tailscale.tailnet_name }}"
{% endif %}
{% endfor %}